.form__button {
    margin: 10px 36px 36px 36px;
    height: 50px;
    background-color: #000;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFF;
    width: -webkit-fill-available;
    border: 0;
}

.form__button:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .form__button {
        margin: 10px 22px 25px 22px;
        font-size: 14px;
        line-height: 17px;
    }
}