.profile{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top:80px;
}
@media screen and (max-width:768px) {
    .profile{
        margin-top:73px;
        display: block;
        margin-top:42px;
    }
}