.form__input-error{
    border-bottom: 1px solid #FF0000;
    width: -webkit-fill-available;
    margin: 0 36px 30px 36px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
}
.form__input-error:focus {
    outline: 0;
}
@media screen and (max-width:768px) {
    .form__input-error {
        margin: 0 22px 30px 22px;
    }
}