.header__logo {
  max-width: 142px;
  margin-top: 45px;
  padding-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    max-width: 100px;
    margin: 28px;
    padding-bottom: 0;
  }
}
