.element__heart {
    width: 22px;
    height: 19px;
    margin: auto 0;
    background-image: url('../../../images/heart.svg');
    border: 0;
    background-color: #ffffff;
}

.element__heart:hover {
    cursor: pointer;
    opacity: .5;
}

