.profile__info_place_editbutton{
    width:10px;
    height: 10px;
    border:1px solid #FFFFFF;
    background-color: #000000;
    padding: 7px;
    margin-left: 18px;
}
.profile__info_place_editbutton:hover{
    opacity: 0.6;
    cursor: pointer;
}
@media screen and (max-width:768px) {
    .profile__info_place_editbutton{
        width: 7.5px;
        height: 7.5px;
        padding: 5.5px;
        margin-left: 10px;
        position: absolute;
        top: 30px;
    }
}