.elements {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 17px 1fr 17px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -webkit-column-gap: 17px;
    -moz-column-gap: 17px;
    column-gap: 17px;
    row-gap: 20px;
    max-width: 880px;
    margin: 50px auto 0 auto;
    position: relative;
}

.elements > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.elements > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.elements > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

@media screen and (max-width:1279px) {
    .elements {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .elements {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        margin: 36px 19px 0 19px;
    }
}