.edit-form__title{
    margin:35px auto 54px 35px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
@media screen and (max-width:768px) {
    .edit-form__title{
        margin:25px 22px 75px 22px;
        font-size: 18px;
        line-height: 22px;
    }
}