.profile__button{
    width:22px;
    height: 22px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    padding:14px 64px;
    margin:auto 0 auto auto;

}
@media screen and (max-width:1024px) {
    .profile__button{
        margin-right: 27px;
    }
}
@media screen and (max-width:768px) {
    .profile__button{
        width: 16px;
        height: 16px;
        display: flex;
        margin: 0 auto;
        padding:17px 134px;
    }
}