.profile__button {
    width: 150px;
    height: 50px;
    border: 2px solid #FFF;
    background-color: #000;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center;
    margin: auto 0 auto auto;
    background-image: url(../../../images/addbutton.png);
}

.profile__button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width:1024px) {
    .profile__button {
        margin-right: 27px;
    }
}

@media screen and (max-width:768px) {
    .profile__button {
        width: 282px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;
        background-size: 16px 16px;
    }
}