.card__heart {
  background-image: url("../../../images/heart.svg");
  border: 0;
  background-color: #ffffff;
  height: 19px;
  margin-bottom: 3px;
}
.card__heart:hover {
  cursor: pointer;
  opacity: 0.5;
}
